h1, h2 {
    margin-top: 2rem !important;
}

h1 {
    text-align: center !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300 !important;
}

p > a {
    color: #3C748E !important;
}

.quoteblock blockquote:before {
    font-size: 1.75em !important;
}

.quoteblock blockquote, .quoteblock p {
    font-size: 1rem !important;
}

table.tableblock > .title {
    text-align: center !important;
}

.conum {
    background-color: rgb(82, 82, 83) !important;
    width: 1.4em !important;
    height: 1.4em !important;
    line-height: 1.5em !important;
}

td > .conum {
    font-size: 60% !important;
}

.colist td:not([class]):last-child {
    padding: 0.25em !important;
    text-align: left !important;
}

.colist table {
    margin-left: 0px !important;
}

.admonitionblock > table td.content {
    text-align: left !important;
}

.content {
    display: block;
}

.listingblock > .content {
    margin-bottom: 0 !important;
    font-size: 90% !important;
}

pre {
    font-size: 90% !important;
}

.literalblock > .content > pre {
    font-size: 80% !important;
}

code {
    font-size: 90% !important;
}

:not(pre):not([class^=L]) > code {
    color: #ca454c !important;
    font-size: 18px !important;
}

.hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-title {
    color: #ca454c !important;
}

.row {
    justify-content: space-between !important;
}

#toctitle {
    color: #900C3F !important;
}

details {
    padding-left: 30px !important;
    font-size: 80% !important;
}

.hljs {
    background-color: #f7f7f8 !important;
}