
html {
  color: #232333;
  font-size: 1.3rem;
  line-height: 1.6em;
}

.navbar {
  margin-top: 0.5em;
  margin-bottom: 0;
  padding: .5rem !important;
}

.navbar-right > a {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-brand {
  margin-left: -15px;
  padding-left: -1rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1, h2, h3, h4, h5, h6 {
  color: #900C3F; /*#444444*/
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.navbar-right > a {
  color: #3C748E;
  text-decoration: none !important;
}

.navbar-brand {
  color: #900C3F;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 1rem !important;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
  padding: 0 0.2em;
  word-wrap: break-word;
}

main {
  max-width: 850px;
  padding: 15px;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.btn-outline-info {
  color: #3C748E !important;
  border-color: #3C748E !important;
  line-height: 1 !important;
  padding: .3rem .75rem !important;
}

.btn-outline-info:hover {
  background-color: #E6E3E4 !important;
}

.btn-primary {
  background-color: #3C748E !important;
  border-color: #3C748E !important;
}

/* Footer */
footer {
  margin-top: 1em !important;
}

.site-description {
display: flex;
justify-content: space-between;
}
.tags li::before{
  content: "🏷 ";
}
.tags a{
  border-bottom: 3px solid grey; 
}
.tags a:hover{
  color:white;
  background-color: lightblue; 
}

.soc:hover{
  color: white;
}
.draft-label{ 
    color: #900C3F;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

